### Rust ###
/target/
Cargo.lock
**/*.rs.bk

### Python ###
__pycache__/
*.py[cod]
*$py.class

# benchmark
beir_datasets
result*

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Python binary extensions
*.pyd
*.so
*.dylib

### JetBrains ###
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# CMake
cmake-build-*/

# JIRA plugin
atlassian-ide-plugin.xml

*.log
.env
.env.*

# Virtual Environment
venv/
.venv/
ENV/

### Visual Studio Code ###
.vscode/
*.code-workspace